.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__child {
  width: calc(25vw + 20vh);
  height: calc(25vw + 20vh);
  background-color: #ccc;
  border-radius: 10%;
  transition: all 0.15s ease;
}

.app__child:hover {
  background-color: hsl(0, 0%, 70%);
}

.app .app__child:active {
  background-color: #00ff00;
}

.app__child.changed-color {
  background-color: #ff0000;
}
